- @title = "Welcome"

- content_for :page_nav do
  %h1 Servers
  %ul
    %li#connect.active
      = link_to "Connect", url_for(:index, :format => :js), :remote => true
    %li#add_server
      = link_to "Add Server", url_for(:new, :format => :js), :remote => true
  
%section
  %article
    #connections
      = partial 'connections/connection', :collection => @connections
    #add_connection_dialog
/ %aside
/ = link_to "Add Server", url_for(:new, :format => :js), :remote => true, :class => 'button'
/   
/ - link_to url_for(:new, :format => :js), :remote => true, :id => "add_connection", :class => 'button' do
/   = image_tag "icons/db_add.png"
/   Add
