#breadcrumb {
  @include linear-gradient(color-stops(#B7C0C8, #7E8D9B 2%, #596774));
  
  ul {
    @include no-style-list;
    @include full;
  	display: block;
    padding: .5em 0px .5em 0px;
  	text-align: middle;
  	
  	li {
  	  color:#F1F3F4;
      padding-right: 10px;
    	display: inline;
    	padding: 0;
    	
    	a {
    	  text-decoration: none;
    	  color: #fff;
    	  
    	  &:hover {
    	    text-decoration: underline;
    	  }
    	}
    	
    	.arrow {
    	  padding: 0px 7px 0px 7px;
    	}
  	}
  }
}