@import "compass/css3/border-radius";

$green: darken(#57b42c, 8);
//$blue: adjust_hue($green, 110);
$blue: #135F9F;
$red: adjust_hue($green, -100);
$heart_button: saturate(lighten($red, 2), 20);

@mixin awesome_button($color) {
  font-family: 'Lucida Grande', sans-serif;
  background-color: $color;
  
  &:hover {
    background-color: darken($color, 8);
  }
}

.awesome, .awesome:visited {
  font-family: 'Lucida Grande', sans-serif;
  font-size: .8em;
  line-height: 1em;
	background: #222 url(/images/alert-overlay.png) repeat-x; 
	display: inline-block;  
	padding: 8px 14px 9px;
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	margin-bottom: 5px;
	
	&:hover { 
	  background-color: #111; 
	  color: #fff; 
	}
	
	&:active { 
	  top: 1px; 
	}
	
	&.blue, &.blue:visited {
	  @include awesome_button($blue);
//    background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#76B7EF), color-stop(0.02, #1C87E3), to(#135F9F));
    
    @include linear-gradient(color-stops(#76B7EF, #1C87E3 2%, #135F9F));
    
    &:hover { 
      @include opacity(0.95);
  	}
	}
	
	&.red, &.red:visited {
	  @include awesome_button($red);
	}
	
	&.remove {
	  color: #000;
    background-color: #ddd;
    padding: 2px 6px;
    font-size: 10px;
    line-height: 12px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    border: 2px solid #A7A7A7;
    vertical-align: middle;
    width: auto;
    
    -moz-box-shadow: none;
  	-webkit-box-shadow: none;
    
    &:hover {
      color: $red;
    }
  }
}
