@import "compass/css3/border-radius";
@import "fancy-buttons";

$green: darken(#57b42c, 8);
$blue: adjust_hue($green, 110);
$red: adjust_hue($green, -100);
$heart_button: saturate(lighten($red, 2), 20);

@mixin custom-fancy-gradient($color1, $color2) {
  @include radial-gradient(color_stops($color1, darken($color2, 5) 30px), "50% 10%");
}

@mixin invert-custom-fancy-gradient($color1, $color2){
  @include custom-fancy-gradient(lighten($color2, 10), lighten($color2, 25));
}

a.button, button { 
  @include fancy-button-structure;
  @include fancy-button-colors;
  margin: 0 2px;
  text-shadow: 0px 1px 1px #000;
  vertical-align: middle;
  text-align:center;
  
  @include adjust-font-size-to(14px);
  color: #ddd;
  @include fancy-button-colors-matte(#44475f);
  
  &:hover {
//    @include box-shadow;
  }
  
  &.connect {
    @include adjust-font-size-to(20px);
    color: #292929;
    text-shadow: none;
    @include border-radius(5px);
    @include fancy-button-colors-matte(#27825C);
  }
  
  &.remove {
    @include fancy-button-size(10px, 5px);
    @include fancy-button-colors-custom(#ddd);
    @include fancy-button-padding(2px, 6px, 2px);
    font-size: 10px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    
    &:hover {
      color: $red;
    }
  }
  
  &.light{
      @include fancy-button-colors-matte(#ddd);
  }
  &.matte-blue{
    @include fancy-button-colors-matte($blue);
  }
  &.green{
      @include fancy-button-colors($green);
    }
  &.blue {
    @include fancy-button-size(32px, 32px, 3px);
    @include fancy-button-colors($blue);
  }
  &.red{
      @include fancy-button-colors($red);
    }
  &.yellow{
    @include fancy-button-colors(darken(desaturate(yellow, 35), 5));
  }
  &.custom{
      @include fancy-button-size(30px, 10px);
      @include fancy-button-padding(2px, 12px, 2px);
    }
  &.heart{
    @include fancy-button-colors-custom($heart_button);
  }
  &.arrow{
      @include fancy-button-size(30px, 30px);
      @include fancy-button-colors-custom(#ddd);
      @include fancy-button-padding(2px, 6px, 2px);
    }
  &.spade{
      @include fancy-button-colors-custom($blue);
      @include fancy-button-padding(2px, 8px, 2px);
    }   
}

.awesome, .awesome:visited {
	background: #222 url(/images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	margin-bottom: 5px;
	
	&:hover { 
	  background-color: #111; 
	  color: #fff; 
	}
	
	&:active { 
	  top: 1px; 
	}
	
	&.remove {
	  font-family: 'Lucida Grande', Lucida, Arial, sans_serif;
	  color: #000;
    background-color: #ddd;
    padding: 2px 6px;
    font-size: 10px;
    line-height: 12px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    border: 2px solid #A7A7A7;
    vertical-align: middle;
    width: auto;
    
    -moz-box-shadow: none;
  	-webkit-box-shadow: none;
    
    &:hover {
      color: $red;
    }
  }
}

.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
.red.awesome:hover							{ background-color: #872300; }

.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
.blue.awesome:hover							{ background-color: #007d9a;}
