#documents_table_wrapper {
  margin-top:0px;
  padding-top: 0px;
  
  #documents_table_length {
    @include columns(3);
  }
  
  #documents_table_filter {
    @include columns(5);
    @include omega;
    
    input {
      width: columns(4,5);
      display: inline;
    }
  }
  
  #documents_table_info {
//    @include clearfix;
    @include columns(3);
  }
}

#documents_table {
  margin-top: 0;
  
  thead {
//    background: #C2C2C2;
    color: #2C2C2C;
//    @include linear-gradient(color-stops(#EAEAEA, #C2C2C2));
    @include border-top-radius(20px);
  }
  
  tbody {
   tr {
     border: none;
     
     &.odd { background-color: rgb(221,228,235); opacity: 1;} 
     
     td {
       padding-top: .3em;
       padding-bottom: .3em;
       border:none;
       
       input {
         width: 10px;
       }
     }
   }
  }
  
  th {
    width: columns(2);
    &:hover {
      cursor: pointer;
    }
  }
}

code {
  @include adjust-font-size-to(14px);
  font-family: 'DejaVu Sans Mono', Menlo, Courier, monospace;
  border-left: none;
  padding: 0px 0px 0px 0px;
  display: inline;
  margin: 0px 0px 0px 0px;
  
  &.key {
    color: #333;
    font-weight: bold;
  }
  
  &.object {
    color: #999;
  }

  &.fixnum, &.boolean {
    color: #339;
  }
  
  &.string {
    color: #393;
    
    &:before {
      content: "\201C";
    }
    
    &:after {
      content: "\201D";
    }
  }
}