form {
  .field-errors {
//    border: 2px solid #444;
    margin-bottom: 2em;
    background-color: #f2f2f2;
    border: 1px solid #e0e0e0;
    
    @include box-shadow;
    
    h2 {
      @include adjust-font-size-to(18px);
//       background: #C2C2C2;
       color: red;
       text-align: center;
       @include linear-gradient(color-stops(#EAEAEA, #C2C2C2));
    }
    
    p {
      margin-bottom: .5em;
    }
    
    ul {
      @include no-style-list;
      
      li {
        color: #5583B1;
        padding: 5px 10px 5px 10px;
        border-top: 1px solid #e1e1e1;
      }
    }
  }
  
  fieldset {
    border: 0;
    padding: 0;
    margin-bottom: 1em;
    @include columns(10,10);
    
    .left {
      @include columns(5, 10);
    }
    
    .right {
       @include columns(5, 10);
       @include omega(10);
    }
    
    label {
//        @include columns(5,5);
    }
    
    input:not([type="submit"]) { 		
      padding: 5px; 
      background: #fff;  
      @include adjust-font-size-to(14px);
      color: #555; 
      border: 1px #ddd solid;
      @include box-shadow(#aaa, 0px, 0px, 4px);
      @include transition-duration(0.3s);

      &:hover { 
          background: #eee; 
      }
      
      &.invalid {
        border: 2px solid red;
      }
    }
  }
  
  #submit, #cancel {
    @include columns(2,5);
    @include adjust-font-size-to(14px);
    border: 0px;
    text-align: center;
  }
  
  #submit {
    @include omega(5);
  }
}