#left_nav {
  @include columns(3);
  background-color: rgb(221,228,235); opacity: 1;
  border-right: 1px solid #B4B4B4;
  padding-top: 1em;
  
  h4 {
    @include adjust-font-size-to(16px);
    padding-left: gutter(3);
    margin-bottom: .1em;
    color: rgb(113,129,159); opacity: 1;
  }
  ul{
    @include no-style-list;
    
     a {
        text-decoration: none;
        color: #380000;
      }
      
    li {
      padding-left: gutter(2);
      color: #380000;
      @include adjust-font-size-to(14px);
      margin-top: 0;
      margin-bottom: 0;
      
      &:hover {
        @include linear-gradient(color-stops(#76B7EF, #1C87E3 2%, #135F9F));
        color: #fff;
      }
      
      #new_db_name {
        background-color: rgb(221,228,235); opacity: 1;
        border: none;
      }
    }
  }
}

#black_toolbar {
  @include black_bar;
  @include adjust-font-size-to(24px);
  padding-left: gutter(4);
  
  a {
    text-decoration: none;
  }
}

#main {
  @include full;
}
