%table
  %thead
    %tr
      %th Key
      %th Value
  %tbody
  - @document.each do |key, value|
    %tr
      %td
        %code{:class=> "key"}= key
      %td
        - if value.is_a? Hash
          = partial 'collection/document', :object => value
        - else
          %code{:class=> determin_style_class_for(value) }= value