ul#icons {
  margin: 0;
  padding: 0; }

ul#icons li {
  margin: 2px;
  position: relative;
  padding: 4px 0;
  cursor: pointer;
  float: left;
  list-style: none; }

ul#icons span.ui-icon {
  float: left;
  margin: 0 4px; }

#add_connection {
  font-size: 8px; }

.ui-dialog {
  font-size: .8em; }
