/* line 8, ../../app/stylesheets/partials/_buttons.scss */
.awesome, .awesome:visited {
  background: #222222 url(/images/alert-overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
}
/* line 24, ../../app/stylesheets/partials/_buttons.scss */
.awesome:hover, .awesome:visited:hover {
  background-color: #111;
  color: #fff;
}
/* line 29, ../../app/stylesheets/partials/_buttons.scss */
.awesome:active, .awesome:visited:active {
  top: 1px;
}
/* line 33, ../../app/stylesheets/partials/_buttons.scss */
.awesome.remove, .awesome:visited.remove {
  font-family: 'Lucida Grande', Lucida, Arial, sans_serif;
  color: #000;
  background-color: #ddd;
  padding: 2px 6px;
  font-size: 10px;
  line-height: 12px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  border: 2px solid #A7A7A7;
  vertical-align: middle;
  width: auto;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
/* line 50, ../../app/stylesheets/partials/_buttons.scss */
.awesome.remove:hover, .awesome:visited.remove:hover {
  color: #932624;
}

/* line 56, ../../app/stylesheets/partials/_buttons.scss */
.red.awesome, .red.awesome:visited {
  background-color: #e33100;
}

/* line 57, ../../app/stylesheets/partials/_buttons.scss */
.red.awesome:hover {
  background-color: #872300;
}

/* line 59, ../../app/stylesheets/partials/_buttons.scss */
.green.awesome, .green.awesome:visited {
  background-color: #91bd09;
}

/* line 60, ../../app/stylesheets/partials/_buttons.scss */
.green.awesome:hover {
  background-color: #749a02;
}

/* line 61, ../../app/stylesheets/partials/_buttons.scss */
.blue.awesome, .blue.awesome:visited {
  background-color: #2daebf;
}

/* line 62, ../../app/stylesheets/partials/_buttons.scss */
.blue.awesome:hover {
  background-color: #007d9a;
}

/* Reset --------------------------------------------------------------*/
/* line 14, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* HTML5 Reset --------------------------------------------------------------*/
/* line 107, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
section, article, aside, header, footer, nav, dialog, figure {
  display: block;
}

/* Body --------------------------------------------------------------*/
/* line 14, ../../app/stylesheets/partials/_default.scss */
body {
  font-family: 'Adobe Caslon Pro', Caslon, Baskerville, Palatino, 'Palatino Linotype', "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
  color: #4c4c4c;
}

/* line 19, ../../app/stylesheets/partials/_default.scss */
.clear {
  clear: both;
}

/* line 23, ../../app/stylesheets/partials/_default.scss */
.right {
  float: right;
}

/* line 27, ../../app/stylesheets/partials/_default.scss */
.left {
  float: left;
}

/* Links --------------------------------------------------------------*/
/* line 34, ../../app/stylesheets/partials/_default.scss */
a:link, a:visited {
  color: white;
}
/* line 37, ../../app/stylesheets/partials/_default.scss */
a:focus, a:hover, a:active {
  color: #f2f2f2;
  text-decoration: none;
}
/* line 41, ../../app/stylesheets/partials/_default.scss */
a img {
  border: none;
}

/* Headings --------------------------------------------------------------*/
/* line 48, ../../app/stylesheets/partials/_default.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
/* line 50, ../../app/stylesheets/partials/_default.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 55, ../../app/stylesheets/partials/_default.scss */
h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5em;
}

/* line 60, ../../app/stylesheets/partials/_default.scss */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 0.75em;
}

/* line 65, ../../app/stylesheets/partials/_default.scss */
h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}

/* line 70, ../../app/stylesheets/partials/_default.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-bottom: 1.333em;
}

/* line 75, ../../app/stylesheets/partials/_default.scss */
h5, h6 {
  margin-bottom: 1.5em;
  font-weight: bold;
}

/* Text --------------------------------------------------------------*/
/* line 82, ../../app/stylesheets/partials/_default.scss */
cite, em, dfn {
  font-style: italic;
}

/* line 86, ../../app/stylesheets/partials/_default.scss */
strong, dfn {
  font-weight: bold;
}

/* line 90, ../../app/stylesheets/partials/_default.scss */
sup, sub {
  line-height: 0;
}

/* line 94, ../../app/stylesheets/partials/_default.scss */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 99, ../../app/stylesheets/partials/_default.scss */
address {
  margin-bottom: 1.5em;
  font-style: italic;
}

/* line 104, ../../app/stylesheets/partials/_default.scss */
ins {
  text-decoration: underline;
}

/* line 108, ../../app/stylesheets/partials/_default.scss */
del {
  text-decoration: line-through;
}

/* line 112, ../../app/stylesheets/partials/_default.scss */
pre, code, tt {
  margin: 1.5em;
  margin-left: -1.5em;
  padding-left: 1.5em;
  border-left: 1px dotted;
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

/* line 121, ../../app/stylesheets/partials/_default.scss */
pre {
  white-space: pre;
}

/* line 125, ../../app/stylesheets/partials/_default.scss */
code {
  display: block;
}

/* line 129, ../../app/stylesheets/partials/_default.scss */
q {
  font-style: italic;
}
/* line 131, ../../app/stylesheets/partials/_default.scss */
q em {
  font-style: normal;
}

/* line 136, ../../app/stylesheets/partials/_default.scss */
p {
  margin-bottom: 1.5em;
}

/* line 140, ../../app/stylesheets/partials/_default.scss */
blockquote, q {
  quotes: "" "";
}

/* line 144, ../../app/stylesheets/partials/_default.scss */
blockquote {
  margin: 1.5em;
  margin-left: -1.5em;
  padding-left: 1.5em;
  border-left: 1px solid;
  font-family: 'Adobe Caslon Pro', Caslon, Baskerville, Palatino, 'Palatino Linotype', "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
  font-style: italic;
}

/* line 155, ../../app/stylesheets/partials/_default.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* Replaced --------------------------------------------------------------*/
/* line 162, ../../app/stylesheets/partials/_default.scss */
img {
  vertical-align: bottom;
}

/* Lists --------------------------------------------------------------*/
/* line 183, ../../app/stylesheets/partials/_default.scss */
ol {
  margin: 0 1.5em 1.5em 0;
  list-style: decimal;
}

/* line 187, ../../app/stylesheets/partials/_default.scss */
ul {
  margin: 0 1.5em 1.5em 0;
  list-style: disc;
}

/* line 192, ../../app/stylesheets/partials/_default.scss */
li ul, li ol {
  list-style-type: circle;
  margin: 0 1.5em 0.75em;
}

/* line 198, ../../app/stylesheets/partials/_default.scss */
dl {
  margin-bottom: 1.5em;
  border-top-style: solid;
  border-top-width: 0.063em;
  padding-top: 1.438em;
}
/* line 201, ../../app/stylesheets/partials/_default.scss */
dl dt {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-bottom: 0.667em;
}

/* line 207, ../../app/stylesheets/partials/_default.scss */
dd {
  margin-bottom: 1.5em;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 1.438em;
}

/* Tables --------------------------------------------------------------*/
/* tables still need 'cellspacing="0"' in the markup */
/* line 215, ../../app/stylesheets/partials/_default.scss */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 222, ../../app/stylesheets/partials/_default.scss */
table, td, th {
  vertical-align: top;
}

/* line 226, ../../app/stylesheets/partials/_default.scss */
th, thead th {
  font-weight: bold;
}

/* line 230, ../../app/stylesheets/partials/_default.scss */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 236, ../../app/stylesheets/partials/_default.scss */
th, td {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 240, ../../app/stylesheets/partials/_default.scss */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 244, ../../app/stylesheets/partials/_default.scss */
caption {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}

/* Forms --------------------------------------------------------------*/
/* line 251, ../../app/stylesheets/partials/_default.scss */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 256, ../../app/stylesheets/partials/_default.scss */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 261, ../../app/stylesheets/partials/_default.scss */
label {
  font-weight: bold;
}

/* line 265, ../../app/stylesheets/partials/_default.scss */
textarea, input:not([type="radio"]) {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* Layout --------------------------------------------------------------*/
/* line 29, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-susy-plugin-0.7.0/sass/susy/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 33, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-susy-plugin-0.7.0/sass/susy/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 18, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-susy-plugin-0.7.0/sass/susy/_susy.scss */
body {
  text-align: center;
}

/* line 12, ../../app/stylesheets/application.scss */
body {
  background: #EBEBEB;
}

/* line 16, ../../app/stylesheets/application.scss */
#main .container {
  background-color: #fff;
}

/* line 20, ../../app/stylesheets/application.scss */
.container {
  overflow: hidden;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
}
/* line 8, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
.container {
  display: block;
}

/* Header --------------------------------------------------------------*/
/* line 36, ../../app/stylesheets/application.scss */
header {
  background: #0c0c0c;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #0c0c0c), color-stop(50%, #242424), color-stop(75%, #2e2e2e), color-stop(100%, #363636));
  background-image: -moz-linear-gradient(top, #0c0c0c 0%, #242424 50%, #2e2e2e 75%, #363636 100%);
  color: #666;
}
/* line 40, ../../app/stylesheets/application.scss */
header hgroup {
  display: inline;
  float: left;
  width: 96.721%;
  margin-right: 1.639%;
  margin-left: 1.639%;
}
/* line 45, ../../app/stylesheets/application.scss */
header hgroup h1 {
  font-size: 2em;
  line-height: 1.5em;
  color: #69D2E7;
  margin-bottom: 0;
  display: inline;
}
/* line 54, ../../app/stylesheets/application.scss */
header hgroup h4 {
  display: inline;
  font-size: 0.875em;
  line-height: 1.714em;
  margin-bottom: 0;
}
/* line 61, ../../app/stylesheets/application.scss */
header #db_box {
  display: inline;
  float: left;
  width: 40.678%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
  font-size: 0.75em;
  line-height: 2em;
  padding-top: 1em;
  background-color: #EAEAEA;
  -moz-box-shadow: #333333 1px 1px 5px;
  -webkit-box-shadow: #333333 1px 1px 5px;
  -o-box-shadow: #333333 1px 1px 5px;
  box-shadow: #333333 1px 1px 5px;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -o-border-bottom-left-radius: 7px;
  -ms-border-bottom-left-radius: 7px;
  -khtml-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -o-border-bottom-right-radius: 7px;
  -ms-border-bottom-right-radius: 7px;
  -khtml-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* line 73, ../../app/stylesheets/application.scss */
#page_nav {
  overflow: hidden;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  -o-border-top-left-radius: 15px;
  -ms-border-top-left-radius: 15px;
  -khtml-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  -o-border-top-right-radius: 15px;
  -ms-border-top-right-radius: 15px;
  -khtml-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #1b1b1b), color-stop(50%, #0d0d0d), color-stop(75%, #050505), color-stop(100%, #0c0c0c));
  background-image: -moz-linear-gradient(top, #1b1b1b 0%, #0d0d0d 50%, #050505 75%, #0c0c0c 100%);
}
/* line 8, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
#page_nav {
  display: block;
}
/* line 78, ../../app/stylesheets/application.scss */
#page_nav h1 {
  display: inline;
  float: left;
  width: 14.754%;
  margin-right: 1.639%;
  margin-left: 1.639%;
  font-size: 2em;
  line-height: 1.5em;
  padding: 10px 0px 0px 0px;
  margin-bottom: 0px;
  color: #fff;
}
/* line 87, ../../app/stylesheets/application.scss */
#page_nav ul {
  display: inline;
  float: left;
  width: 63.934%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 10px;
  display: inline;
  margin-top: 1em;
}
/* line 11, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
#page_nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 98, ../../app/stylesheets/application.scss */
#page_nav ul li {
  margin-left: 0;
  margin-bottom: 0;
  color: #ACACAC;
  padding: 6px 14px 6px 14px;
  list-style: none;
  display: inline;
  font-size: 0.875em;
  line-height: 1.714em;
  text-align: center;
}
/* line 108, ../../app/stylesheets/application.scss */
#page_nav ul li.active {
  background-color: #202020;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}
/* line 109, ../../app/stylesheets/application.scss */
#page_nav ul li.active a {
  color: #fff;
}
/* line 117, ../../app/stylesheets/application.scss */
#page_nav ul li a {
  color: #ACACAC;
  text-decoration: none;
}
/* line 121, ../../app/stylesheets/application.scss */
#page_nav ul li a:hover {
  color: #fff;
}

/* Nav --------------------------------------------------------------*/
/* Content --------------------------------------------------------------*/
/* line 133, ../../app/stylesheets/application.scss */
section article {
  display: inline;
  float: left;
  width: 96.721%;
  margin-right: 1.639%;
  margin-left: 1.639%;
}
/* line 137, ../../app/stylesheets/application.scss */
section article h3 {
  margin-top: 1em;
}
/* line 141, ../../app/stylesheets/application.scss */
section article #connections {
  margin-top: 1em;
}
/* line 147, ../../app/stylesheets/application.scss */
section article #connections .connection {
  display: inline;
  float: left;
  width: 49.153%;
  margin-right: 1.695%;
  margin-bottom: 20px;
}
/* line 150, ../../app/stylesheets/application.scss */
section article #connections .connection:nth-child(even) {
  display: inline;
  float: right;
  margin-right: 0;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
}
/* line 158, ../../app/stylesheets/application.scss */
section article #connections .connection .header {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background: #C2C2C2;
  color: #2C2C2C;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #eaeaea), color-stop(100%, #c2c2c2));
  background-image: -moz-linear-gradient(top, #eaeaea 0%, #c2c2c2 100%);
}
/* line 164, ../../app/stylesheets/application.scss */
section article #connections .connection .header h4 {
  color: #2C2C2C;
  padding: 5px 5px 3px;
  font-size: 1.5em;
  line-height: 1em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
  text-shadow: 0px 1px 1px #fff;
}
/* line 175, ../../app/stylesheets/application.scss */
section article #connections .connection:hover {
  -moz-box-shadow: #333333 1px 1px 5px;
  -webkit-box-shadow: #333333 1px 1px 5px;
  -o-box-shadow: #333333 1px 1px 5px;
  box-shadow: #333333 1px 1px 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 183, ../../app/stylesheets/application.scss */
section article #connections .connection ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  border: 1px solid #e0e0e0;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 11, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
section article #connections .connection ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 189, ../../app/stylesheets/application.scss */
section article #connections .connection ul li {
  color: #5583B1;
  padding: 5px 10px 5px 10px;
  border-top: 1px solid #e1e1e1;
}
/* line 194, ../../app/stylesheets/application.scss */
section article #connections .connection ul li strong {
  text-shadow: 0px 1px 1px #fff;
  color: #2C2C2C;
  padding-right: 5px;
}
/* line 202, ../../app/stylesheets/application.scss */
section article #connections .connection a.connect {
  margin-bottom: 0px;
  font-size: 0.875em;
  line-height: 1.714em;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-weight: normal;
  float: right;
}

/* line 216, ../../app/stylesheets/application.scss */
aside {
  display: inline;
  float: left;
  width: 14.754%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
  margin-top: 1em;
}

/* Footer --------------------------------------------------------------*/
/* line 224, ../../app/stylesheets/application.scss */
footer {
  margin-top: 40px;
  color: #A5A5A5;
  overflow: hidden;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  height: 175px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #1b1b1b), color-stop(50%, #0d0d0d), color-stop(75%, #050505), color-stop(100%, #0c0c0c));
  background-image: -moz-linear-gradient(top, #1b1b1b 0%, #0d0d0d 50%, #050505 75%, #0c0c0c 100%);
}
/* line 8, ../../../../.rvm/gems/ruby-1.8.7-p174@pergola/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
footer {
  display: block;
}
/* line 233, ../../app/stylesheets/application.scss */
footer h1 {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  font-size: 2em;
  line-height: 1.5em;
}

/* line 240, ../../app/stylesheets/application.scss */
#add_connection_dialog {
  display: none;
  display: inline;
  float: left;
  width: 80.328%;
  margin-right: 1.639%;
  padding-left: 8.197%;
}
/* line 251, ../../app/stylesheets/application.scss */
#add_connection_dialog h1 {
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
  border-bottom: 3px solid #44475f;
}
/* line 258, ../../app/stylesheets/application.scss */
#add_connection_dialog form fieldset {
  border: 0;
  padding: 0;
  margin-bottom: 1em;
  display: inline;
  float: left;
  width: 100%;
  margin-right: 2.041%;
}
/* line 264, ../../app/stylesheets/application.scss */
#add_connection_dialog form fieldset .left {
  display: inline;
  float: left;
  width: 48.98%;
  margin-right: 2.041%;
}
/* line 268, ../../app/stylesheets/application.scss */
#add_connection_dialog form fieldset .right {
  display: inline;
  float: left;
  width: 48.98%;
  margin-right: 2.041%;
  display: inline;
  float: right;
  margin-right: 0;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
}
/* line 277, ../../app/stylesheets/application.scss */
#add_connection_dialog form fieldset input:not([type="submit"]) {
  padding: 8px;
  background: #fff;
  font-size: 0.875em;
  line-height: 1.714em;
  color: #555;
  border: 1px #ddd solid;
  -moz-box-shadow: #aaaaaa 0px 0px 4px;
  -webkit-box-shadow: #aaaaaa 0px 0px 4px;
  -o-box-shadow: #aaaaaa 0px 0px 4px;
  box-shadow: #aaaaaa 0px 0px 4px;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 286, ../../app/stylesheets/application.scss */
#add_connection_dialog form fieldset input:not([type="submit"]):hover {
  background: #eee;
}
/* line 292, ../../app/stylesheets/application.scss */
#add_connection_dialog form #submit, #add_connection_dialog form #cancel {
  display: inline;
  float: left;
  width: 37.5%;
  margin-right: 4.167%;
  display: block;
  padding: 8px;
  font-size: 0.875em;
  line-height: 1.714em;
  border: none;
  text-align: center;
}
/* line 301, ../../app/stylesheets/application.scss */
#add_connection_dialog form #submit {
  display: inline;
  float: right;
  margin-right: 0;
  /* ugly hacks for IE6-7 */
  #margin-left: -1em;
}
