// Imports --------------------------------------------------------------*/

@import "partials/imports";

@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/opacity";

/* Layout --------------------------------------------------------------*/

@include susy;

#main {
  .container {
    background-color: #fff;
  }
}

.container {
 @include container;
// @include show-grid("/images/grid.png");
 * {
//   background-color: rgba(0,0,0,.125);
 }
}

/* Header --------------------------------------------------------------*/
header {  
  background: #0c0c0c;
  @include linear-gradient(color-stops(#0c0c0c, #242424 50%, #2e2e2e 75%, #363636));
  color: #666;

  hgroup {
    @include columns(12);
//    @include prefix(1);
    @include alpha;
    
    h1 {
     @include adjust-font-size-to(32px);
     color: #69D2E7;
     margin-bottom: 0;
     display: inline;
    // @include leader(6,32px);
//     @include trailer(1,32px);
    }
    
    h4 {
      display: inline;
      @include adjust-font-size-to(14px);
      margin-bottom: 0;
    }
  }
  
  #db_box {
    @include columns(5, 12);
    @include omega;
    @include adjust-font-size-to(12px);
    padding-top: 1em;
    
    background-color: #EAEAEA;
    @include box-shadow;
    @include border-bottom-radius(7px);
  }
}

/* Nav --------------------------------------------------------------*/

/* Content --------------------------------------------------------------*/
section {
     
 article {
   @include columns(12);
   @include alpha;
   
   h3 {
     @include leader(1,24px);
   }
   
   #connections {
//     @include columns(10,10);
//     @include prefix(1);
//     @include alpha;
     margin-top: 1em;
     
     .connection {    
       @include columns(6,12);
       
       &:nth-child(even) {
          @include omega(12);
        }
//       @include omega(10);
//       float: left;
//       padding: gutter(10);
       margin-bottom:20px;
       
       .header {
         @include border-top-radius(10px);
         background: #C2C2C2;
         color: #2C2C2C;
         @include linear-gradient(color-stops(#EAEAEA, #C2C2C2));
         
         h4 {
           color: #2C2C2C;
           padding: 5px 5px 3px;
           @include adjust-font-size-to(24px);
           font-weight:bold;
         	 text-align:center;
         	 margin-bottom:0px;
         	 text-shadow: 0px 1px 1px #fff;
          }
       }
       
       &:hover {
          @include box-shadow;
          @include border-radius(10px);
          @include scale(1.05);
          @include transition-duration(.2s);
          @include transition-timing-function(ease-in);
        }
       
       ul {
         @include no-style-list;
         background-color: #f2f2f2;
         border: 1px solid #e0e0e0;
         @include border-bottom-radius(10px);

        li {
          color: #5583B1;
          padding: 5px 10px 5px 10px;
          border-top: 1px solid #e1e1e1;
          
          strong {
            text-shadow: 0px 1px 1px #fff;
            color: #2C2C2C;
            padding-right: 5px;
          }
        }
       }
       
       a.connect {
         margin-bottom: 0px;
//         @include adjust-font-size-to(14px);
         text-align: center;
         outline: none;
         text-decoration: none;
         font-weight: normal;
         float: right;
       }
     }
   }
 }
}

aside {
   @include columns(2);
   @include omega;
   @include leader(1,24px);
}

/* Footer --------------------------------------------------------------*/

footer {

  margin-top: 40px;
  color: #A5A5A5;
  @include container;
  @include border-radius(10px); 
  height: 175px;
  @include linear-gradient(color-stops(#1b1b1b, #0d0d0d 50%, #050505 75%, #0c0c0c));
  
  h1 {
    @include full;
    @include adjust-font-size-to(32px);
//    @include pad(1,3);
  }
}
 
#add_connection_dialog {
  display: none;
  @include columns(10);
  @include prefix(1);
  
  h1 {
    text-align:center;
    @include adjust-font-size-to(32px);
    border-bottom: 3px solid #44475f;
  }
}