// Imports --------------------------------------------------------------*/

@import "partials/default";
@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/opacity";

/* Layout --------------------------------------------------------------*/

@include susy;

.container {
 @include container;
// @include show-grid("/images/grid.png");
 * {
//   background-color: rgba(0,0,0,.125);
 }
}

/* Header --------------------------------------------------------------*/
header {  
//  border-bottom: 3px solid #515151;
  border-bottom: 2px solid #979797;
  background: #C2C2C2;
  @include linear-gradient(color-stops(#EAEAEA, #C2C2C2));
  text-shadow: 0px 1px 1px #fff;
  color: #2C2C2C;

  hgroup {
    @include columns(4);
    @include prefix(1);
    @include alpha;
    
    h1 {
     @include adjust-font-size-to(32px);
     margin-bottom: 0;
    // @include leader(6,32px);
//     @include trailer(1,32px);
    }
    
    h4 {
      @include adjust-font-size-to(14px);
//      color:#00B4FF;
      margin-bottom: 0;
    }
  }
  
  #db_box {
    @include columns(2, 12);
    @include omega(12);
    @include adjust-font-size-to(14px);
    @include leader(1,14px);
//    text-align: right;
  }
}

/* Nav --------------------------------------------------------------*/

nav {
  background-color: #7ED2DF;
  @include clearfix;
  height: 33px;
  @include linear-gradient(color-stops(#030303, #44474b));
  color: #A5A5A5;

  .container {
    @include columns(4);
    @include prefix(8);
  }
  
  ul {    
    @include no-style-list;
    margin-left: 0;
    padding-left: 0;
  	display: inline;
  	
  	li {
  	  margin-left: 0;
    	margin-bottom: 0;
    	padding: 2px 15px 10px;
//        border-right: 1px solid #000;
    	list-style: none;
    	display: inline;
  	}
  }
}

#nav2 {
  @include columns(12);
  @include alpha;
//  @include linear-gradient(color-stops(#CDEFFF, #FFF 40%, #FFFFFF 80%));
  
  h1 {
    @include columns(3, 12);
    @include adjust-font-size-to(32px);
//    @include alpha;
  }
  
  h5 {
    @include columns(5, 12);
//    @include alpha;
  }
  
  #db_box {
    @include columns(3, 12);
    @include omega(12);
  }
}

/* Content --------------------------------------------------------------*/

section {
 @include columns(12);
 @include omega;
 article {
   @include columns(9,12);
   
   p {
     @include columns(3,6);
   }
 }
 aside {
   @include columns(3,12);
   @include omega(12);
   background-color: #00B4FF;
   color: #515151;
   @include border-radius(5px);
 }
}

/* Footer --------------------------------------------------------------*/

footer {
  border-top: 3px solid #515151;
  
  h1 {
    @include full;
    @include adjust-font-size-to(32px);
//    @include pad(1,3);
  }
}

