// Imports --------------------------------------------------------------*/

@import "partials/default";
@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/opacity";

/* Layout --------------------------------------------------------------*/

@include susy;

body {
  background: #EBEBEB;
}
#main {
  .container {
    background-color: #fff;
  }
}
.container {
 @include container;
// @include show-grid("/images/grid.png");
 * {
//   background-color: rgba(0,0,0,.125);
 }
}

@mixin grey-background {
  background: #0c0c0c;
  @include linear-gradient(color-stops(#0c0c0c, #242424 50%, #2e2e2e 75%, #363636));
//  text-shadow: 1px 0px #ccc;
  color: #666; 
}

/* Header --------------------------------------------------------------*/
header {  
  @include grey-background;
//  height: 130px;

  hgroup {
    @include columns(4);
//    @include prefix(1);
    @include alpha;
    
    h1 {
     @include adjust-font-size-to(32px);
     color: #69D2E7;
     margin-bottom: 0;
    // @include leader(6,32px);
//     @include trailer(1,32px);
    }
    
    h4 {
      @include adjust-font-size-to(14px);
      margin-bottom: 0;
    }
  }
  
  #db_box {
    @include columns(5, 12);
    @include omega;
    @include adjust-font-size-to(12px);
    padding-top: 1em;
    
    background-color: #EAEAEA;
    @include box-shadow;
    @include border-bottom-radius(7px);
  }
}

#page_nav {
  @include container;
  @include border-top-radius(15px); 
  @include linear-gradient(color-stops(#1b1b1b, #0d0d0d 50%, #050505 75%, #0c0c0c));
  
  h1 {
    @include columns(5);
    @include alpha;
    @include adjust-font-size-to(32px);
    padding: 10px 0px 0px 0px;
    margin-bottom: 0px;
    color: #fff;
  }
  
  ul { 
    @include columns(2);
    @include omega;   
    @include no-style-list;
    margin-left: 0;
    padding-left: 0;
  	display: inline;
  	margin-top: 1em;
  	
  	li {
  	  margin-left: 0;
    	margin-bottom: 0;
    	color: #ACACAC;
//      padding: 2px 15px 10px;
    	list-style: none;
    	display: inline;
    	@include adjust-font-size-to(14px);
    	
    	a {
    	  color: #ACACAC;
    	  text-decoration: none;
    	  
    	  &:hover {
    	    color: #fff;
    	  }
    	}
  	}
  }
}
/* Nav --------------------------------------------------------------*/

nav {
  background-color: #7ED2DF;
  @include clearfix;
  height: 33px;
  @include linear-gradient(color-stops(#030303, #44474b));
  color: #A5A5A5;

  .container {
    @include columns(4);
    @include prefix(8);
  }
  
  ul {    
    @include no-style-list;
    margin-left: 0;
    padding-left: 0;
  	display: inline;
  	
  	li {
  	  margin-left: 0;
    	margin-bottom: 0;
    	padding: 2px 15px 10px;
    	list-style: none;
    	display: inline;
  	}
  }
}

/* Content --------------------------------------------------------------*/
section {
     
 article {
   @include columns(10);
   @include alpha;
   
   h3 {
     @include leader(1,24px);
   }
   
   #connections {
     @include columns(10,10);
//     @include prefix(1);
//     @include alpha;
     
     .connection:hover {
       @include box-shadow;
       @include border-radius(5px);
       @include scale(1.05);
       @include transition-duration(.2s);
       @include transition-timing-function(ease-in);
       background-color: #fff;
     }
     .connection {    
//       position:relative;
       @include columns(3,10); 
       @include omega(11);
       float: left;
       border: 1px solid #DFE7EF;
//       padding: 19px 19px 19px;
       padding: gutter(10);
       margin-bottom:20px;
       background-color: #fff;
     
       h4{
          padding-bottom: .5em;
          @include adjust-font-size-to(24px);
          font-weight:bold;
      	  text-align:center;
      	  border-bottom:1px solid #DFE7EF;
       }
       
       ul {
         @include no-style-list;
       }
       
       a.connect {
         margin-top:1em;
         display: block;
         margin-bottom: .5em;
         padding: 10px 20px 12px;
         text-align: center;
         outline: none;
         text-decoration: none;
         font-weight: normal;
//         @include linear-gradient(color-stops(#70B370,#27825C));
       }
       
       a.connect:hover {
         @include box-shadow;
       }
     }
   }
 }
}

aside {
   @include columns(2);
   @include omega;
   @include leader(1,24px);
 }

/* Footer --------------------------------------------------------------*/
  
footer {

  margin-top: 40px;
  color: #A5A5A5;
  @include container;
  @include border-radius(10px); 
  height: 175px;
  @include linear-gradient(color-stops(#1b1b1b, #0d0d0d 50%, #050505 75%, #0c0c0c));
  
  h1 {
    @include full;
    @include adjust-font-size-to(32px);
//    @include pad(1,3);
  }
}
 
#add_connection_dialog {
  @include columns(4);
  display: none;
  position: absolute; top: 70px; left: 200px;
  padding: 20px;
  border: solid 1px #bbb;
  background: #fff;
  z-index: 100;
  @include box-shadow; 
  
  h1 {
    text-align:center;
    @include adjust-font-size-to(32px);
    border-bottom: 3px solid #44475f;
  }
  
  form {
    p {
      @include clearfix;
    }
    label {
      text-align:right;
      @include columns(1,4);
//      @include alpha;
    }
    
    input {
      @include columns(3,4);
      @include omega(4);
    }
    
    .button {
      @include columns(1,4);
//      @include omega;
    }
  }
}