- unless @breadcrumbs.nil?
  #breadcrumb
    %ul
      - @breadcrumbs.each_with_index do |crumb, index|
        %li
          - if index < (@breadcrumbs.length - 1)
            = link_to crumb[:name], crumb[:link]
            %span{:class => "arrow"} >
          - else
            = crumb[:name]